multi-rss.json
{
  "updatedAt": "2026-03-02T15:46:43.243Z",
  "createdAt": "2026-02-28T07:42:26.118Z",
  "id": "8E2fWpTJgVyuIxFe",
  "name": "Multi RSS",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "81826e3a-6e5d-4a37-8a41-7fd251c87d63",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "14b48c58-3538-4598-9c2e-ac4c66901260",
      "name": "Markdown",
      "retryOnFail": true,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1223272555885105264",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1224879319499800676",
          "mode": "list",
          "cachedResultName": "rss-feed",
          "cachedResultUrl": "https://discord.com/channels/1223272555885105264/1224879319499800676"
        },
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "b404922b-9332-4581-8459-f171f86dfffb",
      "name": "Send a message",
      "webhookId": "32359dd1-65c8-496a-ab0b-d53b85eb58c2",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "discordOAuth2Api": {
          "id": "ep3LAXJ2M9XUjEj1",
          "name": "NTLx"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\n你是一位拥有 15 年经验的“首席架构师”，负责为 CTO 筛选技术情报。你拥有极高的技术品味，极度厌恶营销软文、浅显的入门教程和没有实操价值的“正确的废话”。\n\n# Goal\n阅读输入的 RSS 文章，输出一份符合 **Discord Markdown** 格式的深度解读。\n你的核心任务不是“总结全文”，而是**“提取高价值信息”**并**“辅助决策”**。\n\n# Analysis Steps (Chain of Thought)\n在生成最终输出前，请先在内心进行以下思考（不要输出思考过程）：\n1.  **类型判断**：这是 News（新闻）、Tutorial（教程）、Deep Dive（深度复盘）、Rant（观点抨击）还是 Release Note（发版说明）？\n2.  **含金量扫描**：\n    - 是否包含具体代码/配置？(Code)\n    - 是否有 Benchmark 数据对比？(Data)\n    - 是否解决了特定场景下的疑难杂症？(Solution)\n    - 如果是通稿或纯理论，直接降级处理。\n3.  **提炼 Insight**：作者的核心创新点是什么？如果不读这篇文章，我会错过什么关键信息？\n\n# Formatting Rules (Strict for Discord)\n1.  **必须**使用标准的 Markdown 语法。\n2.  标题使用 `###` 并在内部嵌套 Markdown 链接。\n3.  核心点评使用 `>` (Blockquote) 引用区块。\n4.  “深度洞察”部分**必须**使用 Discord 的剧透标签 `||` 包裹起来，例如：`||这里是洞察内容||`。\n5.  列表使用标准的 `-` 符号。\n\n# Output Template\n请严格按照以下结构输出，保留 Emoji：\n\n### 📰 [{{ $json.title }}]({{ $json.link }})\n\n**🎯 判决：[评分 0-10]/10 [动作：必读/选读/略过]**\n*[类型标签，如 #架构设计 #故障排查]*\n> [这里用一句话直白地说明为什么给这个分。例如：“全篇都在讲概念，无实操细节” 或 “详细拆解了 Redis 7.0 的 AOF 重写机制，包含源码分析”]\n\n**🔥 核心情报 (Key Takeaways)**\n- **[关键技术点]**: [具体说明，例如：将 P99 延迟从 200ms 降低到了 50ms]\n- **[关键技术点]**: [具体说明]\n- **[关键技术点]**: [具体说明]\n\n**💡 深度洞察 (The \"Aha\" Moment)**\n||[这里写出文章中最反直觉、最具价值的那个点。如果文章很水，直接写“无深层价值，仅作了解”。]||\n\n**👀 谁该看？**\n[具体的职位或场景，如：正在做微服务拆分的架构师]\n\n---\n**Input Data:**\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nContent: {{ $json.data }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "28a1b37a-2f80-481e-b75c-4a1fdc7e563a",
      "name": "Basic LLM Chain1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 15
            }
          ]
        },
        "feedUrl": "http://feeds.feedburner.com/ruanyifeng"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -432
      ],
      "id": "e8faa302-5698-4c64-87bd-8936a0d5a086",
      "name": "阮一峰的网络日志",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 20
            }
          ]
        },
        "feedUrl": "https://deepmind.com/blog/feed/basic/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "da8c02c5-0f03-42fd-8fdb-74a0f5389f2c",
      "name": "Google DeepMind Blog",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 16
            }
          ]
        },
        "feedUrl": "https://www.qbitai.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -288
      ],
      "id": "1bab6bd9-8dba-4fc1-b3d6-2b958f5cf811",
      "name": "量子位（QbitAI）",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 17
            }
          ]
        },
        "feedUrl": "https://sspai.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -144
      ],
      "id": "5cc4b6d2-83f2-4342-9cfb-e5bb8fee8e59",
      "name": "少数派",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 18
            }
          ]
        },
        "feedUrl": "http://www.ifanr.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        0
      ],
      "id": "ed973ca5-9dab-4c98-8d41-4cd42767e631",
      "name": "爱范儿",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 19
            }
          ]
        },
        "feedUrl": "https://baoyu.io/feed.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        144
      ],
      "id": "c7e685b9-b444-4f20-a78a-39873fb91a0c",
      "name": "宝玉的分享",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 21
            }
          ]
        },
        "feedUrl": "https://github.blog/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        432
      ],
      "id": "b9d29779-5fd6-4635-89fd-6a74e86c223f",
      "name": "The GitHub Blog",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 22
            }
          ]
        },
        "feedUrl": "https://huggingface.co/blog/feed.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -432
      ],
      "id": "f211c2d4-4822-48a0-a1f0-bbbbd1a43364",
      "name": "Hugging Face Blog",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 23
            }
          ]
        },
        "feedUrl": "https://martinfowler.com/feed.atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -288
      ],
      "id": "a99daad1-b6be-44d1-8d90-9dc9ed97fe78",
      "name": "Martin Fowler",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 24
            }
          ]
        },
        "feedUrl": "https://blog.bytebytego.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -144
      ],
      "id": "a308a10a-2380-4bec-b07a-f887c4262753",
      "name": "ByteByteGo Newsletter",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 25
            }
          ]
        },
        "feedUrl": "https://simonwillison.net/atom/everything/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "f61ea680-06af-4ecf-ae3d-7b68227b8d14",
      "name": "Simon Willison's Weblog",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 26
            }
          ]
        },
        "feedUrl": "https://blog.langchain.dev/rss/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        144
      ],
      "id": "e962a516-0fc8-40ed-878d-fd9d9f41421b",
      "name": "LangChain Blog",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 27
            }
          ]
        },
        "feedUrl": "http://www.aaronsw.com/2002/feeds/pgessays.rss"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        288
      ],
      "id": "d884e31c-4674-4b96-8b18-6789e368a3df",
      "name": "paulgraham.com",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 28
            }
          ]
        },
        "feedUrl": "https://vercel.com/atom"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        432
      ],
      "id": "fe5f447f-ec30-4446-92c1-76ec7900a79f",
      "name": "Vercel News",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 29
            }
          ]
        },
        "feedUrl": "https://gwern.substack.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -432
      ],
      "id": "9681b3aa-5361-46ee-a7f5-4a91a17d9714",
      "name": "gwern.net",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 30
            }
          ]
        },
        "feedUrl": "https://tech.meituan.com/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -288
      ],
      "id": "974b14b8-c936-496a-b95a-77e4e73198c2",
      "name": "美团技术团队",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen3.5-plus",
          "mode": "list",
          "cachedResultName": "qwen3.5-plus"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        192
      ],
      "id": "af4ddd71-ccf4-4581-a55b-4933b2f1e2e2",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "gyuAIYPDLYyRYJh7",
          "name": "NewAPI-OE"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 31
            }
          ]
        },
        "feedUrl": "https://kill-the-newsletter.com/feeds/wg6i0vmxjfxnonldi7vy.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -144
      ],
      "id": "06fefec0-2daa-41f3-8cb7-a66bb7521b08",
      "name": "BestBlogs.dev",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google DeepMind Blog": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "阮一峰的网络日志": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "量子位（QbitAI）": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "少数派": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "爱范儿": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "宝玉的分享": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The GitHub Blog": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hugging Face Blog": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Martin Fowler": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByteByteGo Newsletter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simon Willison's Weblog": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Blog": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paulgraham.com": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel News": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gwern.net": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "美团技术团队": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BestBlogs.dev": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "3LE3BnPfHSuIZCVR",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 240
  },
  "staticData": {
    "node:阮一峰的网络日志": {
      "lastItemDate": "2026-02-27T00:07:08.000Z"
    },
    "node:Google DeepMind Blog": {
      "lastItemDate": "2026-03-03T16:35:55.000Z"
    },
    "node:量子位（QbitAI）": {
      "lastItemDate": "2026-03-04T07:50:33.000Z"
    },
    "node:少数派": {
      "lastItemDate": "2026-03-04T12:09:04.000Z"
    },
    "node:爱范儿": {
      "lastItemDate": "2026-03-04T16:12:56.000Z"
    },
    "node:宝玉的分享": {
      "lastItemDate": "2026-03-02T00:00:00.000Z"
    },
    "node:The GitHub Blog": {
      "lastItemDate": "2026-03-03T18:45:09.000Z"
    },
    "node:Hugging Face Blog": {
      "lastItemDate": "2026-03-03T16:50:49.000Z"
    },
    "node:Martin Fowler": {
      "lastItemDate": "2026-03-04T05:42:00.000Z"
    },
    "node:ByteByteGo Newsletter": {
      "lastItemDate": "2026-03-04T16:30:49.000Z"
    },
    "node:Simon Willison's Weblog": {
      "lastItemDate": "2026-03-04T17:34:42.000Z"
    },
    "node:LangChain Blog": {
      "lastItemDate": "2026-03-04T18:00:31.000Z"
    },
    "node:paulgraham.com": {},
    "node:Vercel News": {
      "lastItemDate": "2026-03-02T13:00:00.000Z"
    },
    "node:gwern.net": {
      "lastItemDate": "2021-06-11T14:16:22.000Z"
    },
    "node:美团技术团队": {
      "lastItemDate": "2026-02-10T00:00:00.000Z"
    },
    "node:BestBlogs.dev": {
      "lastItemDate": "2026-02-27T09:44:10.354Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "16fea156-43ff-4af8-aa21-8eafa9bcbc59",
  "activeVersionId": "90848f61-c2b4-4864-ac28-a0f3de0f5608",
  "triggerCount": 17,
  "shared": [
    {
      "updatedAt": "2026-02-28T07:42:26.118Z",
      "createdAt": "2026-02-28T07:42:26.118Z",
      "role": "workflow:owner",
      "workflowId": "8E2fWpTJgVyuIxFe",
      "projectId": "cNMj0K6AdJmi0OAZ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-01T14:18:54.622Z",
    "createdAt": "2026-03-01T14:18:21.915Z",
    "versionId": "90848f61-c2b4-4864-ac28-a0f3de0f5608",
    "workflowId": "8E2fWpTJgVyuIxFe",
    "nodes": [
      {
        "parameters": {
          "url": "=https://r.jina.ai/{{ $json.link }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          0
        ],
        "id": "81826e3a-6e5d-4a37-8a41-7fd251c87d63",
        "name": "HTTP Request",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "html": "={{ $json.data }}",
          "options": {}
        },
        "type": "n8n-nodes-base.markdown",
        "typeVersion": 1,
        "position": [
          416,
          0
        ],
        "id": "14b48c58-3538-4598-9c2e-ac4c66901260",
        "name": "Markdown",
        "retryOnFail": true,
        "waitBetweenTries": 1000
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1223272555885105264",
            "mode": "id"
          },
          "channelId": {
            "__rl": true,
            "value": "1224879319499800676",
            "mode": "list",
            "cachedResultName": "rss-feed",
            "cachedResultUrl": "https://discord.com/channels/1223272555885105264/1224879319499800676"
          },
          "content": "={{ $json.text }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          976,
          0
        ],
        "id": "b404922b-9332-4581-8459-f171f86dfffb",
        "name": "Send a message",
        "webhookId": "32359dd1-65c8-496a-ab0b-d53b85eb58c2",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "discordOAuth2Api": {
            "id": "ep3LAXJ2M9XUjEj1",
            "name": "NTLx"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=# Role\n你是一位拥有 15 年经验的“首席架构师”，负责为 CTO 筛选技术情报。你拥有极高的技术品味，极度厌恶营销软文、浅显的入门教程和没有实操价值的“正确的废话”。\n\n# Goal\n阅读输入的 RSS 文章，输出一份符合 **Discord Markdown** 格式的深度解读。\n你的核心任务不是“总结全文”，而是**“提取高价值信息”**并**“辅助决策”**。\n\n# Analysis Steps (Chain of Thought)\n在生成最终输出前，请先在内心进行以下思考（不要输出思考过程）：\n1.  **类型判断**：这是 News（新闻）、Tutorial（教程）、Deep Dive（深度复盘）、Rant（观点抨击）还是 Release Note（发版说明）？\n2.  **含金量扫描**：\n    - 是否包含具体代码/配置？(Code)\n    - 是否有 Benchmark 数据对比？(Data)\n    - 是否解决了特定场景下的疑难杂症？(Solution)\n    - 如果是通稿或纯理论，直接降级处理。\n3.  **提炼 Insight**：作者的核心创新点是什么？如果不读这篇文章，我会错过什么关键信息？\n\n# Formatting Rules (Strict for Discord)\n1.  **必须**使用标准的 Markdown 语法。\n2.  标题使用 `###` 并在内部嵌套 Markdown 链接。\n3.  核心点评使用 `>` (Blockquote) 引用区块。\n4.  “深度洞察”部分**必须**使用 Discord 的剧透标签 `||` 包裹起来，例如：`||这里是洞察内容||`。\n5.  列表使用标准的 `-` 符号。\n\n# Output Template\n请严格按照以下结构输出，保留 Emoji：\n\n### 📰 [{{ $json.title }}]({{ $json.link }})\n\n**🎯 判决：[评分 0-10]/10 [动作：必读/选读/略过]**\n*[类型标签，如 #架构设计 #故障排查]*\n> [这里用一句话直白地说明为什么给这个分。例如：“全篇都在讲概念，无实操细节” 或 “详细拆解了 Redis 7.0 的 AOF 重写机制，包含源码分析”]\n\n**🔥 核心情报 (Key Takeaways)**\n- **[关键技术点]**: [具体说明，例如：将 P99 延迟从 200ms 降低到了 50ms]\n- **[关键技术点]**: [具体说明]\n- **[关键技术点]**: [具体说明]\n\n**💡 深度洞察 (The \"Aha\" Moment)**\n||[这里写出文章中最反直觉、最具价值的那个点。如果文章很水，直接写“无深层价值，仅作了解”。]||\n\n**👀 谁该看？**\n[具体的职位或场景，如：正在做微服务拆分的架构师]\n\n---\n**Input Data:**\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nContent: {{ $json.data }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          624,
          0
        ],
        "id": "28a1b37a-2f80-481e-b75c-4a1fdc7e563a",
        "name": "Basic LLM Chain1",
        "retryOnFail": true,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 15
              }
            ]
          },
          "feedUrl": "http://feeds.feedburner.com/ruanyifeng"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          -432
        ],
        "id": "e8faa302-5698-4c64-87bd-8936a0d5a086",
        "name": "阮一峰的网络日志",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 20
              }
            ]
          },
          "feedUrl": "https://deepmind.com/blog/feed/basic/"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          288
        ],
        "id": "da8c02c5-0f03-42fd-8fdb-74a0f5389f2c",
        "name": "Google DeepMind Blog",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 16
              }
            ]
          },
          "feedUrl": "https://www.qbitai.com/feed"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          -288
        ],
        "id": "1bab6bd9-8dba-4fc1-b3d6-2b958f5cf811",
        "name": "量子位（QbitAI）",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 17
              }
            ]
          },
          "feedUrl": "https://sspai.com/feed"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          -144
        ],
        "id": "5cc4b6d2-83f2-4342-9cfb-e5bb8fee8e59",
        "name": "少数派",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 18
              }
            ]
          },
          "feedUrl": "http://www.ifanr.com/feed"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          0
        ],
        "id": "ed973ca5-9dab-4c98-8d41-4cd42767e631",
        "name": "爱范儿",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 19
              }
            ]
          },
          "feedUrl": "https://baoyu.io/feed.xml"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          144
        ],
        "id": "c7e685b9-b444-4f20-a78a-39873fb91a0c",
        "name": "宝玉的分享",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 21
              }
            ]
          },
          "feedUrl": "https://github.blog/feed/"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          432
        ],
        "id": "b9d29779-5fd6-4635-89fd-6a74e86c223f",
        "name": "The GitHub Blog",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 22
              }
            ]
          },
          "feedUrl": "https://huggingface.co/blog/feed.xml"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          -432
        ],
        "id": "f211c2d4-4822-48a0-a1f0-bbbbd1a43364",
        "name": "Hugging Face Blog",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 23
              }
            ]
          },
          "feedUrl": "https://martinfowler.com/feed.atom"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          -288
        ],
        "id": "a99daad1-b6be-44d1-8d90-9dc9ed97fe78",
        "name": "Martin Fowler",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 24
              }
            ]
          },
          "feedUrl": "https://blog.bytebytego.com/feed"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          -144
        ],
        "id": "a308a10a-2380-4bec-b07a-f887c4262753",
        "name": "ByteByteGo Newsletter",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 25
              }
            ]
          },
          "feedUrl": "https://simonwillison.net/atom/everything/"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          0
        ],
        "id": "f61ea680-06af-4ecf-ae3d-7b68227b8d14",
        "name": "Simon Willison's Weblog",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 26
              }
            ]
          },
          "feedUrl": "https://blog.langchain.dev/rss/"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          144
        ],
        "id": "e962a516-0fc8-40ed-878d-fd9d9f41421b",
        "name": "LangChain Blog",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 27
              }
            ]
          },
          "feedUrl": "http://www.aaronsw.com/2002/feeds/pgessays.rss"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          288
        ],
        "id": "d884e31c-4674-4b96-8b18-6789e368a3df",
        "name": "paulgraham.com",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 28
              }
            ]
          },
          "feedUrl": "https://vercel.com/atom"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          432
        ],
        "id": "fe5f447f-ec30-4446-92c1-76ec7900a79f",
        "name": "Vercel News",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 29
              }
            ]
          },
          "feedUrl": "https://gwern.substack.com/feed"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          -432
        ],
        "id": "9681b3aa-5361-46ee-a7f5-4a91a17d9714",
        "name": "gwern.net",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 30
              }
            ]
          },
          "feedUrl": "https://tech.meituan.com/feed/"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          -288
        ],
        "id": "974b14b8-c936-496a-b95a-77e4e73198c2",
        "name": "美团技术团队",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "qwen3.5-plus",
            "mode": "list",
            "cachedResultName": "qwen3.5-plus"
          },
          "responsesApiEnabled": false,
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          688,
          192
        ],
        "id": "af4ddd71-ccf4-4581-a55b-4933b2f1e2e2",
        "name": "OpenAI Chat Model",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "openAiApi": {
            "id": "gyuAIYPDLYyRYJh7",
            "name": "NewAPI-OE"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "hour": 8,
                "minute": 31
              }
            ]
          },
          "feedUrl": "https://kill-the-newsletter.com/feeds/wg6i0vmxjfxnonldi7vy.xml"
        },
        "type": "n8n-nodes-base.rssFeedReadTrigger",
        "typeVersion": 1,
        "position": [
          -48,
          -144
        ],
        "id": "06fefec0-2daa-41f3-8cb7-a66bb7521b08",
        "name": "BestBlogs.dev",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Markdown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Markdown": {
        "main": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google DeepMind Blog": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "阮一峰的网络日志": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "量子位（QbitAI）": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "少数派": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "爱范儿": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "宝玉的分享": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "The GitHub Blog": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hugging Face Blog": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Martin Fowler": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ByteByteGo Newsletter": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simon Willison's Weblog": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LangChain Blog": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "paulgraham.com": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vercel News": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gwern.net": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "美团技术团队": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "BestBlogs.dev": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Administrator NTLx",
    "name": "Version 90848f61",
    "description": "",
    "autosaved": true
  },
  "tags": []
}